div.filedrop {
	background-color:beige;
	height:90px;
	padding:10px;
	text-align:center;
	overflow:hidden;
}

nav#nav {
	overflow-y:scroll;
}

input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}

div#mainscreen {
	margin-top:60px;
}

img.saveicon {
	width:40px;
	height:40px;
	position:fixed;
	right:5px;
	top:5px;
	cursor:pointer;
}

div.dream {
	background-color:beige;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:15px;
}

div.lucid {
	background-color:aqua;
}

h1.adddream {
	#background-color:aqua;
	padding:15px;
	margin:0px;

	position:fixed;
	width:100%;
}

p.dream_date {
	color:gray;

}

p.dream_attributes img.person {
	height:80px;
	width:80px;
	border-radius: 50%;
}
p.dream_attributes img.place {
	height:80px;
	width:80px;
	border-radius: 10%;
}


.filterbutton {
	cursor:pointer;
	margin-right:5px;
}
.reset {
	cursor:pointer;
	font-size:12px;
	display:inline;
	background-color:orange;
	padding:3px;
	visibility:hidden;
}


li.filtered {
	background-color:orange;
}

i.moodji {
	font-style:normal;
	cursor:pointer;
}


img.addicon {
	cursor:pointer;
}


/**

THE INPUT WINDOWS


**/




#shade {
	background-color:rgba(0,0,0,0.9);
	position:fixed;
	height:100%;
	width:100%;
}

/* main window */
table.inputwindow {

	position:fixed;
	width:800px;
	height:150px;
	top:50%;
	left:50%;
	margin-top:-75px;
	margin-left:-400px;
	position:center;
	overflow:hidden;
	border-collapse: collapse;
}
table.inputwindow-big {
	height:350px;
	margin-top:-275px;
}

/* rows */
table.inputwindow tr.header td {
	/*background-color:purple;
	height:65px;
	width:750px;
	color:white;
	padding-left:25px;
	padding-right:25px;
	padding-top:25px;
	margin:0px;*/
	font-size:200%;
	font-weight: bold;
	padding-bottom:20px;
	padding-top:10px;
	color:yellow;
}

table.inputwindow tr.buttons td {
	/*padding-top:15px;*/
}


/* subtable */

table.inputfieldtable {
	width:100%;
	/*background-color:beige;*/
	border-collapse: collapse;
	border-spacing:0px;
}

table.inputfieldtable tr.attributelist {
	height:30px;
}

table.inputfieldtable tr.dreamtext {
	height:200px;
	vertical-align: top;
}

table.inputfieldtable tr.moodletbar {
	cursor:pointer;
	font-size: 150%;
}
table.inputfieldtable tr.moodletbar span.moodlet-inactive {
	opacity:0.3;
}
table.inputfieldtable tr.moodletbar span.moodlet-active {
	opacity: 1;
}

/* input elements */

table.inputwindow textarea.biginput {
	/*margin-top:20px;
	margin-left:20px;*/

	font-family: inherit;
	color:beige;

	background-color:transparent;

	border:0px;
	height:150px;
	overflow-y: scroll;
	width:780px;
	/*font-size:40px;*/
	padding:5px;
}

table.inputwindow input.smallinput {
	/*margin-top:20px;
	margin-left:20px;*/

	color:beige;
	background-color:transparent;
	border:0px;

	padding:5px;
}

table.inputwindow input.biginput {
	background-color:transparent;
	color:beige;
	border:0px;
	height:50px;
	width:790px;
	font-size:40px;
	/*padding:5px;*/
}

table.inputwindow textarea:focus {
	background-color:rgba(0,0,0,0.1);
}






/* buttons */

div.button {
	/*position:fixed;*/
	float:right;
	margin-left: 15px;
	margin-top:15px;
	width:150px;
	height:50px;
	line-height: 50px;
	top:35px;
	left:15px;
	position:center;
	text-align:center;
	cursor:pointer;
	font-size: 180%;
	font-weight: bold;
}

div.okaybutton {
	background-color:purple;
	color:yellow;
	/*margin-top:100px;
	margin-left:90px;
	*/

}
div.cancelbutton {
	background-color:azure;
	color:grey;
	/*margin-top:100px;
	margin-left:250px;
	*/
}



/* textarea styling */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: aqua;
  background-color:rgba(0,255,255,0.1);
}
::-webkit-scrollbar-thumb {
background-color:rgba(130,255,255,0.1);
}
::-webkit-scrollbar-thumb:hover {
  background: purple;
}
textarea {
	resize: none;
}







table#dropdownoptions tr {
}
table#dropdownoptions tr p {
	background-color:darkgrey;
	color:white;
	border-radius:5px;
	padding:3px;
	margin:0px;
	width:auto;
	display:inline-block;
	font-size:13px;
	cursor:pointer;

	background-size:contain;
	background-repeat: no-repeat;
	background-position: left;
	padding-left:30px;
}

table#dropdownoptions.dropdownoptions_people tr p {
	background-color:#ff6666;
}

table#dropdownoptions.dropdownoptions_places tr p {
	background-color:cyan;
}

p.tag {
	display:inline-block;
	page-break-inside: avoid;
	color:white;
	border-radius:5px;
	padding:3px;
	margin:2px;
	font-size:13px;

	background-size:contain;
	background-repeat: no-repeat;
	background-position: left;
	padding-left:30px;
}

p.tag_people {
	background-color:red;
}
p.tag_places {
	background-color:blue;
}
