div.filedrop {
	background-color:beige;
	height:90px;
	padding:10px;
	text-align:center;
}

input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}

div#mainscreen {
	margin-top:60px;
}

div.dream {
	background-color:beige;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:15px;
}

div.lucid {
	background-color:aqua;
}

h1.adddream {
	#background-color:aqua;
	padding:15px;
	margin:0px;

	position:fixed;
	width:100%;
}

p.dream_date {
	color:gray;

}

p.dream_attributes img.person {
	height:80px;
	width:80px;
	border-radius: 50%;
}
p.dream_attributes img.place {
	height:80px;
	width:80px;
	border-radius: 10%;
}


.filterbutton {
	cursor:pointer;
}
.reset {
	cursor:pointer;
	font-size:12px;
	display:inline;
	background-color:orange;
	padding:3px;
	visibility:hidden;
}


li.filtered {
	background-color:orange;
}

i.moodji {
	font-style:normal;
	cursor:pointer;
}


img.addicon {
	cursor:pointer;
}


#shade {
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	height:100%;
	width:100%;
}

div.inputwindow {
	background-color:beige;
	position:fixed;
	width:800px;
	height:150px;
	top:50%;
	left:50%;
	margin-top:-75px;
	margin-left:-400px;
	position:center;
	overflow:hidden;
}
div.inputwindow-big {
	height:350px;
	margin-top:-275px;
}

div.button {
	position:fixed;
	width:150px;
	height:50px;
	top:50%;
	left:50%;
	position:center;
	text-align:center;
	cursor:pointer;

}




div.okaybutton {
	background-color:purple;
	color:yellow;
	margin-top:100px;
	margin-left:90px;

}
div.cancelbutton {
	background-color:azure;
	color:grey;
	margin-top:100px;
	margin-left:250px;

}

div.inputwindow h1.header {
	background-color:purple;
	height:65px;
	width:750px;
	color:white;
	padding-left:25px;
	padding-right:25px;
	padding-top:25px;
	margin:0px;
}

div.inputwindow textarea.biginput {
	/*margin-top:20px;
	margin-left:20px;*/

	font-family: inherit;

	background-color:transparent;
	border:0px;
	height:150px;
	overflow-y: scroll;
	width:780px;
	/*font-size:40px;*/
	padding:5px;
}

div.inputwindow input.smallinput {
	/*margin-top:20px;
	margin-left:20px;*/

	background-color:transparent;
	border:0px;

	padding:5px;
}




table.inputfieldtable {
	width:100%;
}

table.inputfieldtable tr.attributelist {
	height:30px;
}

table.inputfieldtable tr.dreamtext {
	height:300px;
	vertical-align: top;
}



table#dropdownoptions tr {
}
table#dropdownoptions tr p {
	background-color:darkgrey;
	color:white;
	border-radius:5px;
	padding:3px;
	margin:0px;
	width:auto;
	display:inline-block;
	font-size:13px;
}

table#dropdownoptions.dropdownoptions_people tr p {
	background-color:#ff6666;
}

table#dropdownoptions.dropdownoptions_places tr p {
	background-color:cyan;
}

p.tag {
	display:inline-block;
	page-break-inside: avoid;
	color:white;
	border-radius:5px;
	padding:3px;
	margin:2px;
	font-size:13px;
}

p.tag_people {
	background-color:red;
}
p.tag_places {
	background-color:blue;
}
